/*adds a blue background to the heading, adjusts text colour and font*/
.mainheading{
        font-family: Arial;
        text-align: center;
        Padding:10px;
        background-color:#00ace6;
        color:White;
    }
/*centers the text in the paragraphs and adjusts font size*/
p{text-align: center;
font-size:25px;
    }
/*centers the text in lists and adjusts the font size*/
li{text-align: center;
font-size:25px;
}
/*centers the image and adjusts the height and width*/
.businessimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:13%;
    height:12%;
}
/*centers the image and adjusts the height and width*/
.ebusimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:18%;
    height:10%;
}
/*centers the image and adjusts the height and width*/
.bgcrest {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:18%;
    height:10%;
}
/*centers the image and adjusts the height and width*/
.ucccrest {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:18%;
    height:10%;
}
/*centers the image and adjusts the height and width*/
.skullimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:18%;
    height:10%;
}
/*centers the image and adjusts the height and width*/
.centraimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:18%;
    height:10%;
}
/*centers the image and adjusts the height and width*/
.githubimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:12%;
    height:10%;
}
/*adjusting button size, edges and colour*/
.cloudservicesbutton {
    background:#173c66;  
    color:white;
    position:absolute;
    border-radius: 12px;
    transition: .5s ease;
    top: 60%;
    left: 68%;
    cursor:pointer;
}
/*adjusting button size, edges and colour*/
.interestsbutton {
    background:#a5171e;  
    color:white;
    border-radius: 12px;
    position:absolute;
    transition: .5s ease;
    top:60%;
    left:38%;
    cursor:pointer;
}
/*adjusting button size, edges, position and colour*/
.cvbutton {
    background:#35a373;  
    color:white;
    border-radius: 12px;
    position:absolute;
    transition: .5s ease;
    top:60%;
    left:8.5%;
    cursor:pointer;
}
/*adjusting all images in divs*/
.img {
    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    margin-bottom:10%;
    margin-right:10%;
    margin-left:5%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    
}
/*adjusting button size, edges and colour*/
.githubbutton {
    position:absolute;
    transition: .5s ease;
    top:100;
    left:84%;
    cursor:pointer;
}
/*adjusting button size, edges, position and colour*/
.ebusbutton {
    background:#62a3c4;  
    color:white;
    border-radius: 12px;
    position:absolute;
    transition: .5s ease;
    top:184%;
    left:64%;
}
/*adjusting button size, edges and colour*/
.herokubutton {
    background:#720b84; 
    color:white;
    border-radius: 12px;
    position:absolute;
    transition: .5s ease;
    top:270%;
    left:64%;
}
/*adding a plain background*/
body {
    background-image: url("http://www.publicdomainpictures.net/pictures/40000/velka/gray-background-1361959709geQ.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    font-size:30px;
}
/*adding a plain background for the cv pages*/
.body1 {

    font-size:30px;
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
}
/*adjusting the position of the linkedin photo*/
.link{
    position:absolute;
    transition: .5s ease;
    top:162%;
    left:45%;
    cursor:pointer;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}