.mainheading{
        font-family: Arial;
        text-align: center;
        Padding:10px;
        background-color:#00ace6;
        color:White;
    }
p{text-align: center;
    }
li{text-align: center;
}





