/*adds a blue background to the heading, adjusts text colour and font*/
.mainheading{
        font-family: Arial;
        text-align: center;
        Padding:10px;
        background-color:#00ace6;
        color:White;
    }
/*centers the text in the paragraphs and adjusts font size*/
p{text-align: center;
font-size:25px;
    }
/*centers the text in lists and adjusts the font size*/
li{text-align: center;
font-size:25px;
}
/*Adds a plain background image*/
body {
    background-image: url("http://img.freepik.com/vrije-photo/kopje-koffie-op-een-bureau-met-een-laptop-en-enkele-glazen-te-zien_1112-114.jpg?size=338&ext=jpg/");
    background-repeat:no-repeat;
    background-size:cover;
    font-size:25px;
}
/*centers the image and adjusts the height and width*/
.businessimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:30%;
    height:15%;
}
/*centers the image and adjusts the height and width*/
.ebusimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:18%;
    height:10%;
}
/*centers the image and adjusts the height and width*/
.bgcrest {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:18%;
    height:10%;
}
/*centers the image and adjusts the height and width*/
.lfcrest {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:18%;
    height:10%;
}
/*centers the image and adjusts the height and width*/
.ucccrest {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:18%;
    height:10%;
}
/*centers the image and adjusts the height and width*/
.skullimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:18%;
    height:10%;
}
/*centers the image and adjusts the height and width*/
.centraimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:18%;
    height:10%;
}
/*centers the image and adjusts the height and width*/
.githubimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:12%;
    height:10%;
}
/*adjusting button size, edges and colour*/
.cloudservicesbutton {
    background:#216f8c; 
    color:white;
    border-radius: 12px;
    position:absolute;
    transition: .5s ease;
    top:182%;
    left:16%;
}
/*adjusting button size, edges and colour*/
.interestsbutton {
    background:#a5171e;  
    color:white;
    border-radius: 12px;
    position:absolute;
    transition: .5s ease;
    top:96%;
    left:65%;
}
/*adjusting button size, edges, position and colour*/
.cvbutton {
    background:#1e9676;  
    color:white;
    border-radius: 12px;
    position:absolute;
    transition: .5s ease;
    top:96%;
    left:16%;
}
.img {
    position: relative;
    float: left;
    width:  400px;
    height: 400px;
    margin-bottom:10%;
    margin-right:10%;
    margin-left:5%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    
}
/*adjusting button size, edges and colour*/
.githubbutton {
    background:black;  
    color:white;
    border-radius: 12px;
    position:absolute;
    transition: .5s ease;
    top:267%;
    left:19%;
}
/*adjusting button size, edges, position and colour*/
.ebusbutton {
    background:#62a3c4;  
    color:white;
    border-radius: 12px;
    position:absolute;
    transition: .5s ease;
    top:182%;
    left:65%;
}
/*adjusting button size, edges and colour*/
.herokubutton {
    background:#720b84; 
    color:white;
    border-radius: 12px;
    position:absolute;
    transition: .5s ease;
    top:267%;
    left:65%;
}
/*adding a plain background*/
body {
    background-image: url("http://yiworks.com/wp-content/uploads/2016/11/Light-Grey-Background-Hd-5-1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    font-size:30px;
}

