#section1{
   background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Adventure-Background-2560x1440-PIC-WPC005116.jpg");
   background-repeat: no-repeat;
   background-position:center;
   background-size:contain;
   background-color:#569fa3;
   border-style:solid;
   border-color:Black;
   text-align:center;
}
#section2{
    background-image: url("https://media.timeout.com/images/103444978/image.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    background-color:#3c5ebc;
    border-style:solid;
    border-color:black;
    text-align:left;
    
}
#section3{
    background-image: url("https://www.rei.com/adventures/assets/adventures/images/trip/core/northamerica/zny_hero");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    background-color:#124c4b;
    border-style:solid;
    border-color:black;
    text-align:center;
    
}
.section{
    color:black;
    font-size:25px;
}
/*adds a plain background image*/
body {
    background-image: url("http://eskipaper.com/images/blurred-background-1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
/*centers the image and adjusts the height and width*/
.soccerimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:10%;
    height:5%;
}
/*centers the image and adjusts the height and width*/
.spotifyimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:10%;
    height:2%;
}
/*centers the image and adjusts the height and width*/
.bookimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:10%;
    height:5%;
}
/*centers the text in the paragraphs and adjusts font size*/
p{text-align: center;
font-size:25px;
    }
/*centers the text in lists and adjusts the font size*/
li{text-align: center;
font-size:25px;
}
/*underlining headings*/
h2{
    text-decoration:underline;
}
/*button design and colour*/
.button{
    color:white;
    background-color:#2791b5;
    width:65px;
    height:30px;
    float:left;
}
/*button design and colour*/
.button1{
    float:right;
    color:white;
    background-color:#2791b5;
    width:65px;
    height:30px;
}


