/*page 1 of pagepiling, adding an image and adjusting its size*/
#section1{
   background-image: url("https://www.hdwallpaper.nu/wp-content/uploads/2015/02/Spain-HD-Wallpapers7.jpg");
   background-repeat: no-repeat;
   background-position:center;
   background-size:cover;
    height:100%;
   background-color:#569fa3;
   border-style:solid;
   border-color:Black;
   text-align:center;
}
/*page 2 of pagepiling, adding an image and adjusting its size*/
#section2{
    background-image: url("http://www.ameshotel.com/wp-content/uploads/2017/03/Boston-Harbor.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:100%;
    background-color:#3c5ebc;
    border-style:solid;
    border-color:black;
    text-align:center;
    color:white;
    
}
/*page 3 of pagepiling, adding an image and adjusting its size*/
#section3{
    background-image: url("http://3.bp.blogspot.com/-CRgpaXnjkes/UnPooxDFJYI/AAAAAAAAAH4/fNV4SkYt35E/s1600/Miami+1.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:100%;
    background-color:#124c4b;
    border-style:solid;
    border-color:black;
    text-align:center;
    color:white;
}
/*page 4 of pagepiling, adding an image and adjusting its size*/
#section4{
    background-image: url("https://c.slashgear.com/wp-content/uploads/2017/12/spotify99promo-980x580.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:100%;
    background-color:#124c4b;
    border-style:solid;
    border-color:black;
    text-align:center;
    color:white;
    
}
/*page 5 of pagepiling, adding an image and adjusting its size*/
#section5{
    background-image: url("https://i.pinimg.com/originals/e2/3f/a6/e23fa65dcedeb00cc5f9ac4ca015699d.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:100%;
    background-color:#124c4b;
    border-style:solid;
    border-color:black;
    text-align:center;
    color:white;
    
}
/*page 6 of pagepiling, adding an image and adjusting its size*/
#section6{
    background-image: url("http://s.newsweek.com/sites/www.newsweek.com/files/2015/11/12/spotify.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:100%;
    background-color:#124c4b;
    border-style:solid;
    border-color:black;
    text-align:center;
    color:white;
    
}
/*adding a background colour to the main heading*/
.mainheading{
        font-family: Arial;
        text-align: center;
        Padding:10px;
        background-color:#41c681;
        color:White;
}
/*adjusting font size*/
.section{
    color:black;
    font-size:25px;
}
/*adds a plain background image*/
body {
    background-image: url("http://eskipaper.com/images/blurred-background-1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
/*centers the image and adjusts the height and width*/
.soccerimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:33%;
    height:10%;
}
/*centers the image and adjusts the height and width*/
.spotifyimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:15%;
    height:2%;
}
/*centers the image and adjusts the height and width*/
.bookimage {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:18%;
    height:5%;
}
/*centers the text in the paragraphs and adjusts font size*/
p{text-align: center;
font-size:25px;
    }
/*centers the text in lists and adjusts the font size*/
li{text-align: center;
font-size:25px;
}
/*underlining headings*/
h2{
    text-decoration:underline;
}
/*button design and colour*/
.button{
    color:white;
    background-color:#41c681;
    width:65px;
    height:30px;
    float:left;
    border-radius:10px;
}
/*button design and colour*/
.button1{
    float:right;
    color:white;
    background-color:#41c681;
    width:65px;
    height:30px;
    border-radius:10px;
}

/*button design and colour*/
.button3{
    float:right;
    color:white;
    background-color:#2791b5;
    width:65px;
    height:30px;
}
/*navigation bar text colour, background colour and font size*/
.topnav a {
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}
/*changing the colour of a navigation bar when a mouse is hovered over it*/
.topnav a:hover {
    background-color:#41c681;
    color: black;
    text-decoration:none;
}
/*changing the colour of a navigation bar when its active*/         
.topnav .active {
    background-color: #00ace6;
    color: white;
    text-decoration:none;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .home{
    text-align:center;
    color:white;
    background-color:#41c681;
    border-radius: 8px;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .spotify{
    text-align:center;
    color:white;
    background-color:#41c681;
    border-radius: 8px;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .travel{
    text-align:center;
    color:white;
    background-color:#41c681;
    border-radius: 8px;
}

