#section1{
   background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Adventure-Background-2560x1440-PIC-WPC005116.jpg");
   background-repeat: no-repeat;
   background-position:center;
   background-size:contain;
   background-color:#569fa3;
   border-style:solid;
   border-color:Black;
   text-align:center;
}
#section2{
    background-image: url("https://media.timeout.com/images/103444978/image.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    background-color:#3c5ebc;
    border-style:solid;
    border-color:black;
    text-align:left;
    
}
#section3{
    background-image: url("https://www.rei.com/adventures/assets/adventures/images/trip/core/northamerica/zny_hero");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    background-color:#124c4b;
    border-style:solid;
    border-color:black;
    text-align:center;
    
}
.section{
    color:black;
    font-size:25px;
}



