.button{
    color:white;
    background-color:#16751b;
    width:150px;
    height:40px;
    border-radius:10px;
    transition: .5s ease;
    
}
.button2{
    color:white;
    background-color:#dbb52b;
    width:100px;
    height:35px;
    border-radius:10px;
    transition: .5s ease;
}
.button3{
    color:Red;
    background-color:white;
    width:100px;
    height:35px;
    text-align:center;
    border-radius:10px;
    transition: .5s ease;
    
}
 .heading{
    font-family: Arial;
    text-align: center;
    Padding:10px;
    background-color:#00ace6;
    color:White;
}
/*Adds a plain background image*/
  .body {
     background-image: url("http://eskipaper.com/images/blurred-background-1.jpg");
     background-repeat:no-repeat;
     background-size:cover;
     font-size:25px;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .cart{
    text-align:center;
    color:white;
    background-color:#32770;
    border-radius: 8px;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .calculate{
    text-align:center;
    color:white;
    background-color:#d1bf1f;
    border-radius: 8px;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .clear{
    text-align:center;
    font:red;
    background-color:white;
    border-radius: 8px;
}
.header{
    color:white;
     background:#00ace6;
            }