/*adds a blue background to the heading, adjusts text colour and font*/
.mainheading{
        font-family: Arial;
        text-align: center;
        Padding:10px;
        background-color:#00ace6;
        color:White;
}
/*adding a plain background*/
    body {
     background-image: url("http://eskipaper.com/images/blurred-background-1.jpg");
     background-repeat:repeat;
     background-size:cover;
     font-size:25px;
}
/*styling unordered lists*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:right;
}
/*styling ordered lists*/
li a {
    display: block;
    width: 60px;
    float:right;
}
/*adjusting the cloud image size*/
.cloudimage{
    width:350px;
    height:180px;
}
/*adjusting button size and colour*/
.button{
    color:white;
    background-color:#16751b;
    width:150px;
    height:40px;
    border-radius:10px;
    transition: .5s ease;
    
}
/*adjusting button size and colour*/
.button2{
    color:white;
    background-color:#dbb52b;
    width:100px;
    height:35px;
    border-radius:10px;
    transition: .5s ease;
}
/*adjusting button size and colour*/
.button3{
    color:Red;
    background-color:white;
    width:100px;
    height:35px;
    text-align:center;
    border-radius:10px;
    transition: .5s ease;
    
}
/*changing font, positioning and colour*/
 .heading{
    font-family: Arial;
    text-align: center;
    Padding:10px;
    background-color:#00ace6;
    color:White;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .cart{
    text-align:center;
    color:white;
    background-color:#156b1b;
    border-radius: 8px;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .calculate{
    text-align:center;
    color:white;
    background-color:#d1bf1f;
    border-radius: 8px;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .clear{
    text-align:center;
    color:red;
    background-color:white;
    border-radius: 8px;
}
/*changing the background colour of the header*/
.header{
    color:white;
     background:#00ace6;
            }
/*Aligns buttons, curves edges and changes background colour and text colour*/
.infobutton{
    float:left;
    color:white;
    background-color:#2791b5;
    width:80px;
    height:40px;
    border-radius:8px;
    transition: .5s ease;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
.cartbutton{
    float:right;
    color:white;
    background-color:#2791b5;
    width:80px;
    height:40px;
    border-radius:8px;
    transition: .5s ease;
}
/*adjusting navigation bar colours fonts and size etc.*/
.topnav a {
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
                
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
                
.topnav .active {
    background-color: #00ace6;
    color: white;
}
/*adjusts the cart image*/
.cartebus3{
    margin-right:50%;
}
/*adjusting the printer image*/
.printer{
     position:absolute;
    transition: .5s ease;
    top:5%;
    left:84%;
    cursor:pointer;
}
/*changing button size colour and position*/
.cancel{
    float:left;
    color:white;
    background-color:#2791b5;
    width:68px;
    height:35px;
}
/*changing button size colour and position*/
.agree{
    float:right;
    color:white;
    background-color:#2791b5;
    width:65px;
    height:35px;
}
/*changing button size colour and position*/
.home{
    float:right;
    color:white;
    background-color:#2791b5;
    width:65px;
    height:35px;
    position:absolute;
    transition: .5s ease;
    top:182%;
    left:93%;
}
/*changing button size colour and position*/
.home3{
    float:right;
    color:white;
    background-color:#2791b5;
    width:65px;
    height:35px;
    position:absolute;
    transition: .5s ease;
    top:175%;
    left:93%;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .determine{
    text-align:center;
    color:white;
    background-color:#0099ff;
    border-radius: 8px;
    position:absolute;
    transition: .5s ease;
    top:112%;
    left:50%;
    cursor:pointer;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .pro{
    text-align:center;
    color:white;
    background-color:#156b1b;
    border-radius: 8px;
    position:absolute;
    transition: .5s ease;
    top:115%;
    left:46.5%;
    cursor:pointer;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
.exit{
    color:white;
    background-color:#2791b5;
    width:70px;
    height:20px;
    border-radius:8px;
    position:absolute;
    transition: .5s ease;
    top: 115%;
    left: 1%;
    cursor:pointer;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
.exit1{
    color:white;
    background-color:#2791b5;
    width:70px;
    height:20px;
    border-radius:8px;
    position:absolute;
    transition: .5s ease;
    top: 124%;
    left: 1%;
    cursor:pointer;
}
/*adjusting the email text box position*/
#email{
    border-radius:8px;
    position:absolute;
    transition: .5s ease;
    top:63%;
    left:45%;
}
/*adjusting the labels position*/
.lemail{
    position:absolute;
    transition: .5s ease;
    top:61.5%;
    left:38%;
}
/*adjusting the card number text box position*/
#cardnumber{
    border-radius:8px;
    position:absolute;
    transition: .5s ease;
    top:38%;
    left:45%;
}
/*adjusting the cvc text box position*/
#security_code{
    border-radius:8px;
    position:absolute;
    transition: .5s ease;
    top:48%;
    left:45%;
}
/*adjusting the pin text box position*/
#user_pin{
    border-radius:8px;
    position:absolute;
    transition: .5s ease;
    top:53%;
    left:45%;
}
/*adjusting the card name text box position*/
#cardname{
    border-radius:8px;
    position:absolute;
    transition: .5s ease;
    top:43%;
    left:45%;
}
/*adjusting the name text box position*/
#name{
    border-radius:8px;
    position:absolute;
    transition: .5s ease;
    top:58%;
    left:45%;
}
/*adjusting the cardnumber labels position*/
.lcardnumber{
    position:absolute;
    transition: .5s ease;
    top:37%;
    left:31.5%;
}
/*adjusting the cardname labels position*/
.lcardname{
    position:absolute;
    transition: .5s ease;
    top:42%;
    left:31%;
}
/*adjusting the security code labels position*/
.lcvc{
    position:absolute;
    transition: .5s ease;
    top:47%;
    left:31.5%;
}
/*adjusting the pin labels position*/
.lpin{
    position:absolute;
    transition: .5s ease;
    top:52%;
    left:39.5%;
}
/*adjusting the name labels position*/
.lname{
    position:absolute;
    transition: .5s ease;
    top:57%;
    left:38%;
}
/*adjusting the address 1 text box position*/
#address_1{
    border-radius:8px;
    position:absolute;
    transition: .5s ease;
    top:76%;
    left:45%;
}
/*adjusting the address labels position*/
.add1{
    position:absolute;
    transition: .5s ease;
    top:75%;
    left:30%;
}
/*adjusting the address 2 text box position*/
#address_2{
    border-radius:8px;
    position:absolute;
    transition: .5s ease;
    top:81%;
    left:45%;
}
/*adjusting the address labels position*/
.add2{
    position:absolute;
    transition: .5s ease;
    top:80%;
    left:30%;
}
/*adjusting the city text box position*/
#city1{
    border-radius:8px;
    position:absolute;
    transition: .5s ease;
    top:91%;
    left:45%;
}
/*adjusting the city labels position*/
.city{
    position:absolute;
    transition: .5s ease;
    top:90%;
    left:38.5%;
}
/*adjusting the post code text box position*/
#post1{
    border-radius:8px;
    position:absolute;
    transition: .5s ease;
    top:86%;
    left:45%;
}
/*adjusting the postcode labels position*/
.postcode{
    position:absolute;
    transition: .5s ease;
    top:85%;
    left:34%;
}
/*adjusting the country text box position*/
#country1{
    border-radius:8px;
    position:absolute;
    transition: .5s ease;
    top:96.5%;
    left:45%;
}
/*adjusting the country labels position*/
.country{
    position:absolute;
    transition: .5s ease;
    top:95%;
    left:35.5%;
}
/*adding a plain background for the cv pages*/
.body1 {
    font-size:30px;
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
}