/*adds a blue background to the heading, adjusts text colour and font*/
.mainheading{
        font-family: Arial;
        text-align: center;
        Padding:10px;
        background-color:#00ace6;
        color:White;
}
/*adding a plain background*/
    body {
     background-image: url("http://eskipaper.com/images/blurred-background-1.jpg");
     background-repeat:no-repeat;
     background-size:cover;
     font-size:25px;
}
/*styling unordered lists*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:right;
}
/*styling ordered lists*/
li a {
    display: block;
    width: 60px;
    float:right;
}
/*adjusting the cloud image size*/
.cloudimage{
    width:350px;
    height:180px;
}
/*adjusting button size and colour*/
.button{
    color:white;
    background-color:#16751b;
    width:150px;
    height:40px;
    border-radius:10px;
    transition: .5s ease;
    
}
/*adjusting button size and colour*/
.button2{
    color:white;
    background-color:#dbb52b;
    width:100px;
    height:35px;
    border-radius:10px;
    transition: .5s ease;
}
/*adjusting button size and colour*/
.button3{
    color:Red;
    background-color:white;
    width:100px;
    height:35px;
    text-align:center;
    border-radius:10px;
    transition: .5s ease;
    
}
/*changing font, positioning and colour*/
 .heading{
    font-family: Arial;
    text-align: center;
    Padding:10px;
    background-color:#00ace6;
    color:White;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .cart{
    text-align:center;
    color:white;
    background-color:#156b1b;
    border-radius: 8px;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .calculate{
    text-align:center;
    color:white;
    background-color:#d1bf1f;
    border-radius: 8px;
}
/*Aligns buttons, curves edges and changes background colour and text colour*/
    .clear{
    text-align:center;
    color:red;
    background-color:white;
    border-radius: 8px;
}
.header{
    color:white;
     background:#00ace6;
            }
.infobutton{
    color:white;
    background-color:#2791b5;
    width:80px;
    height:40px;
    border-radius:10px;
    transition: .5s ease;
    
}
.cartbutton{
    float:right;
    color:white;
    background-color:#2791b5;
    width:80px;
    height:40px;
    border-radius:10px;
    transition: .5s ease;
}
/*adjusting navigation bar colours fonts and size etc.*/
.topnav a {
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
                
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
                
.topnav .active {
    background-color: #00ace6;
    color: white;
}
.cartebus3{
    margin-right:50%;
}